h1{
    text-align: center;
    color:white;
    background-color: black

}
img{
    float: left;
    padding-right: 20px;
}
a{
    color:red;
}

.div1{
     width:50%;
     float: left;
}
.div2{

    width:50%;
    float:right;
    padding-left: 20px;

}